---
const pages = ['About', 'News', 'Town Hall', 'Connect', 'RIA Membership'];
---

<style>
  footer {
    @apply py-10 flex justify-between text-lg;
  }
  address {
    @apply text-lg not-italic;
  }
  address span {
    @apply block font-bold;
  }
  nav {
    @apply grid gap-4;
    grid-template-columns: repeat(5, auto);
    @apply place-items-center;
  }
  nav a {
    @apply transition hover:underline hover:text-red text-center;
  }
  nav a:last-child {
    @apply col-span-5 place-self-center;
  }
  svg {
    @apply w-6 h-6;
    @apply fill-blue;
    @apply transition hover:fill-red;
  }
</style>

<footer class="container flex flex-col justify-center items-center gap-y-4">
  <p class="font-bold">Relay Improvement Association</p>
  <nav>
    <a href="#">{pages[0]}</a>
    <a href="#">{pages[1]}</a>
    <a href="#">{pages[2]}</a>
    <a href="#">{pages[3]}</a>
    <a href="#">{pages[4]}</a>
    <a href="#"
      ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
        ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
        ></path></svg
      ></a
    >
  </nav>
</footer>
