---
import routes from '../data/routes.mjs';
import contact from '../data/contact.mjs';

import SvgGitHub from './SvgGitHub.astro';
import SvgFb from './SvgFb.astro';
import SvgIg from './SvgIg.astro';

const rts = routes.map((route) => Object.entries(route)[0]);
---

<style>
  footer {
    @apply mt-auto pt-20 pb-10;
    @apply flex flex-col justify-center items-center gap-y-4;
  }
  nav a {
    @apply text-base sm:text-lg text-center;
    @apply transition hover:underline hover:text-red;
  }
</style>

<footer class="container">
  <p class="text-lg font-bold">Relay Improvement Association</p>
  <nav class="flex flex-col gap-y-5">
    <div class="flex flex-wrap justify-center gap-x-6">
      {rts.map(([path, title]) => <a href={path}>{title}</a>)}
    </div>
    <div class="flex justify-center gap-x-4">
      <a href={contact.facebook.full}><SvgFb /></a>
      <a href={contact.instagram.full}><SvgIg /></a>
      <a href={contact.github}><SvgGitHub /></a>
    </div>
  </nav>
</footer>
