---
import contact from '../data/contact.mjs';
---

<style>
  address {
    @apply text-base lg:text-xl not-italic;
  }

  h2 {
    @apply mt-5 mb-4 lg:mb-6;
    @apply text-2xl md:text-3xl sm:font-bold;
  }
  h3 {
    @apply mt-4 mb-3;
    @apply text-xl sm:text-2xl sm:font-bold;
  }
  p {
    @apply mb-3 md:mb-4 max-w-[80ch];
  }
  a:not([href^='tel:']) {
    @apply text-red underline;
    @apply transition hover:text-black;
  }

  .icon {
    @apply relative;
    @apply ml-6 lg:ml-8;

    &::before {
      content: '';
      @apply -left-6 lg:-left-8 top-[3px];
      background-repeat: no-repeat;
      @apply w-5 h-5 lg:w-6 lg:h-6;
      @apply absolute inline-block;
    }

    &.location::before {
      background-image: url(../img/fa-location-dot.svg);
    }

    &.envelope::before {
      background-image: url(../img/envelope-solid.svg);
    }

    &.phone::before {
      background-image: url(../img/phone-solid.svg);
    }

    &.fb::before {
      background-image: url(../img/fa-fb.svg);
    }
  }
</style>

<address class="flex flex-col items-start gap-y-2 md:gap-y-4">
  <div class="icon location">
    <span class="block">{contact.address.street}</span>
    <span
      >{contact.address.city}, {contact.address.state.long}&nbsp;
      {contact.address.zip}</span
    >
  </div>
  <a class="icon envelope" href={`mailto:${contact.email}`}>{contact.email}</a>
  <a class="icon fb" href={contact.facebook.full}
    >facebook.com/{contact.facebook.id}</a
  >
  <a class="icon phone" href={`tel:${contact.phone.Frank}`}
    >{contact.phone.Frank}</a
  >
</address>
