---
import { relayDate } from '../../utils.mjs';

const { entry } = Astro.props;

// Removing headings const below since a new convention for news posts
// where the title is in the front matter only, is an assumed <h1>,
// and therefore headings inside the post start with <h2>.
// In other words, the convention is that the title _is_ a field of info like
// in WP
// const { headings } = await entry.render();

const d = relayDate(entry.data.date);
const dt = d.toISOString().slice(0, 10);
const _d = new Intl.DateTimeFormat('en-US', {
  day: 'numeric',
  month: 'long',
  year: 'numeric',
  timeZone: 'UTC' // hack around the time zone rabbit hole
}).format(d);
---

<style>
  a {
    @apply block relative text-black hover:text-black dark:text-dmWhite hover:dark:text-dmWhite transition no-underline;
    @apply py-4 px-6;
    @apply bg-gray-500 dark:bg-gray-200 rounded;

    h3 {
      @apply text-xl md:text-2xl font-bold;
      @apply mt-2 mb-3 lg:mt-3;
      /* @apply mt-3 mb-5; */
    }

    p:last-of-type {
      @apply mb-0;
      font-variant-caps: all-small-caps;

      &::after {
        /* via GitHub marketing style for `a.link-mktg` */
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: calc(100% - 1em);
        height: 2px;
        pointer-events: none;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: transform 0.3s ease;
      }
    }

    .arrow {
      @apply relative inline-block;
      transform: scaleX(1);
      transform-origin: 0 0;
      transition: transform 0.3s ease;
    }

    &:hover {
      @apply bg-_blue-900 text-[#000] dark:bg-gray-250 dark:text-[#fff];
      @apply bottom-[1px] transition;

      h3 {
        /* @apply text-red; */
      }

      p:last-of-type::after {
        transform: scaleX(1);
      }

      /* .arrow {
        @apply text-[#000] dark:text-[#fff];
        transform: scaleX(1.3);
        @apply left-[3px] transition;
      } */
    }
  }
</style>

<a
  class="box-shadow border-l-2 md:border-l-4 border-l-blue dark:border-l-red"
  href={`/news/${entry.slug}`}
>
  <time datetime={dt} class="text-sm md:text-base all-small-caps text-current"
    >{_d}</time
  >

  <h3 class="m-0 transition">{entry.data.title}</h3>

  {entry.data.blurb ? <p>{entry.data.blurb}</p> : ''}

  <p class="relative inline-block text-sm md:text-base text-current">
    Read more <span class="arrow">→</span>
  </p>
</a>
